body {
  padding: 0;
  margin: 0;
  font-size: large;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url('./asset/1.gif');
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  background-position: 50px;
}

.main-layout {
  color: #ffffff;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.input-data {
  margin-top: 50px;
  margin-bottom: 50px;
}

.input-data input {
  width: 280px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-left: 5px;
  padding: 0 10px;
}

.input-data button {
  width: 135px;
  height: 40px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: white;
  font-size: 16px;
  background-color: rgba(81, 119, 241, 0.89);
}

.todo-list-data {
  margin: 15px auto;
  width: 565px;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0000003b;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid rgb(2, 176, 245);
  padding: 30px;
}

.empty-todo-text {
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  color: rgba(245, 246, 248, 0.89);
  font-family: 'Lucida Sans';
  padding: 30px;
  background-color: #6d6b6b3b;
  border-radius: 10px;

}

.todo-list-data span {
  text-align: left;
  padding-left: 10px;
}

.deleteBtn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: white;
  font-size: 16px;
  background-color: rgba(252, 68, 68, 0.952);
}

.todo-complete-btn {
  width: 100px;
  height: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

.todo-complete-btn.green-btn {
  background-color: #34c759;
  width: 100px;
  height: 30px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content img {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  background-color: transparent;
}

/* Desktop styles */
@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .main-layout {
    width: 80%;
  }
  .input-data input {
    width: 22rem;
  }
  .input-data button {
    width: 10rem;
    height: 40px;
    margin-left: 10px;
  }
  
  .todo-list-data {
    margin: 15px auto;
    width: 70%;
  }
}

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .input-data {
    width: 80%;
    margin: 0 auto;
  }

  .input-data input {
    margin-top: 10px;
    width: 80%;
  }

  .input-data button {
    margin-top: 20px;
    width: 85%;
  }

  .todo-list-data {
    width: 100%;
  }
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
  body {
    background-image: url('./asset/2.gif');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: 50px;
  }

  .main-layout {
    width: 90%;
  }

  .todo-list-data {
    width: 80%;
    grid-template-columns: 2fr 1fr;
  }

  .todo-list-data span {
    text-align: left;
    padding-left: 3px;
  }

  .input-data {
    width: 80%;
    margin: 0 auto;
  }

  .input-data input {
    margin-top: 10px;
    width: 80%;
  }

  .input-data button {
    margin-top: 20px;
    width: 85%;
  }

  .todo-list-data {
    margin: 20px auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 0fr;
    gap: 10px;
    padding: 30px;
    background-color: #0000003b;
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid rgb(2, 176, 245);

  }

  .todo-delete-btn {
    width: 80px;
  }
}